
/* #region HEADER */
/* heder-style */
.header {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: transparent;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-list-menu {
  display: flex;
  gap: 34px;
  align-items: center;
}

.header-list-menu .nav-list {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  transition: color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header-list-menu .nav-list:hover {
  color: #d41443;
}

#active {
  color: #d41443;
}

.menu-btn {
  border-radius: 22px;
  min-width: 159px;
  height: 44px;
  background: #fff;
  transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-btn:hover {
  background: #ecebeb;
  ;
}

.style-btn {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
}

.header-btn-cont {
  display: block;
  margin-top: 50px;
}

/* the end of header-style */
/* #endregion */


/* #region HERO */
/* Hero section */

.hero {
  position: relative;
  background-color: rgba(255, 184, 202, 1);
}

.hero-container{
    position: relative;
    z-index: 1;
    padding-top: 170px;
    background-image: url(../images/botle_milk.png),
      url(../images/ice-cream.png),
      url(../images/ice-cream_girl.png),
      url(../images/Ellipse\ 3.png);
    background-repeat: no-repeat;
    background-position:
      bottom 60px left 0px,
      bottom right 310px,
      bottom right 0px,
      bottom 85px right 110px;
    height: 730px;
    background-size: auto, 236px 600px, auto, 564px 564px;
}

.container-h1-img-position {
  display: flex;
  justify-content: space-between;
}

.hero-text-style {
  font-weight: 400;
  font-size: 38px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fff;
  max-width: 277px;
  font-family: "Titan One", sans-serif;
}

.passion-style {
  font-size: 58px;
  line-height: 0.905;
  color: #d41443;
}

.btn-hero-position {
  margin-top: 12px;
}

.btn-hero-product {
  border-radius: 20px;
  min-width: 107px;
  height: 40px;
  background: #d41443;
  transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-hero-product:hover {
  background: #bc133d;
}

.btn-hero-how-made {
  border-radius: 20px;
  min-width: 138px;
  height: 40px;
  background: #fff;
  transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-hero-how-made:hover {
  background: #ecebeb;
}

.btn-hero-text-style-one {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
}

.btn-hero-text-style-two {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #d41443;
}

.container-hero-text-position {
  position: absolute;
  bottom: 90px;
  left: 220px;
}
/* Текст який знаходиться біля молока */

.text-hero-position {
  max-width: 175px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
}

.circle-hero-button {
  margin-top: 20px;
  width: 26px;
  height: 26px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  /* Іконка мишки при наведенні */
}

.circle-hero-button i {
  font-size: 10px;
  color: #e63946;
  /* Колір стрілки */
}

.circle-hero-button:hover {
  background-color: #f1f1f1;
}

/* the end of hero section */
/* #endregion */


/* #region PRODUCTS */
/* Your styles here */
.products-tittle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
}

.products-tittle-part {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  padding-top: 60px;
}

.products-list {
  display: flex;
  gap: 32px;
}

.products-item {
  position: relative;
  width: 368px;
  height: 796px;
}

.products-img:hover {
  border: 1px solid #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.products-img {
  position: absolute;
  top: 0;
}

.ice-cream-box {
  border-radius: 24px;
  width: 368px;
  height: 535px;
  background: #ffb8ca;
  display: block;
  margin-top: 261px;  
}

.ice-coffee-box {
  border-radius: 24px;
  width: 368px;
  height: 535px;
  background: #f0d1a5;
  display: block;
  margin-top: 261px;
}

.milkshakes-box {
  border-radius: 24px;
  width: 368px;
  height: 535px;
  background: #c2e297;
  display: block;
  margin-top: 261px;
}



.products-subtittle {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding-top: 165px;
  margin-bottom: 32px;

}

.products-icon-list {
  margin-bottom: 32px;
  gap: 4px;
  width: 25px;
  height: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.products-icon-ellipse {
  fill: #fff;
}


.products-ice-cream-text {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 304px;
  height: 134px;
  }

.arrow-link {
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 60px;
}

.img-arrow {
  border-radius: 50%;  
}

/* #endregion */


/* #region MADE */
/* how it’s made? */
.made {
  background: #fff5f6;
  }
  /* .section-container {} */
  
  .made-hidden {
    padding: 60px ;
  }
  
  .hidden-made-first {
    font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  }
  
  .hidden-made-second {
    font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
  }
  .made-sec {
    background-image: url(../images/sectionbg.png);
    width: 1200px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
  
  .made-list {
  display: flex;
  align-items: center;
  }
  
  .list-cow {
    margin-right: 100px;
  }
  
  .p-how-made {
  font-weight: 500;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #000;
  max-width: 400px;
  margin-bottom: 32px;
  }
  
  .p-how-made-second {
  font-weight: 500;
  font-size: 14px;
  line-height: 194%;
  letter-spacing: 0.04em;
  color: #907e82;
  max-width: 400px;
  margin-bottom: 40px;
  }
  
  .btn-read-more {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #d41443;
  border-radius: 22px;
  width: 176px;
  height: 44px;
  background: #fff;
  cursor: pointer;
  }
  .how-made-div {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 200px;
  }
  .how-made-ula {
    display: flex;
    gap: 120px;
  }
  .how-made-item {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: relative;
  margin-bottom: 16px;
  }
  .how-made-item-p {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.02em;
  color: #000;
  }
  .first {
    width: 288px;
  }
  .second {
    width: 317px;
  }
  .three {
    width: 288px;
  }
  .how-made-ula-icon {
    display: flex;
  }
  .icon-fill {
    margin-top: 60px;
    margin-bottom: 40px;
    fill: #FFA5BA;
  }

/* #endregion */


/* #region REVIEWS */
/* Reviews section */

.reviews {
  margin-top: -88px;
}

.reviews-showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 120px;
  margin-inline: auto;
  width: 1013px;
  height: 430px;
}

.reviews-showcase-item {
  margin-top: 8px;
  width: 138px;
  overflow: hidden;
  border-radius: 20px;
}

.reviews-showcase-item:nth-child(1) {
  margin-top: 142.67px;
}

.reviews-showcase-item:nth-child(2) {
  margin-top: 88.79px;
}

.reviews-showcase-item:nth-child(4) {
  margin-top: 0;
  width: 283px;
}

.reviews-showcase-item:nth-child(6) {
  margin-top: 98.77px;
}

.reviews-showcase-item:nth-child(8) {
  margin-top: 65.85px;
}

.reviews-showcase-item:nth-child(10) {
  margin-top: 154.64px;
}

.reviews-list {
  padding-inline: 116px;
}

.review-ava {
  margin-inline: auto;
  margin-bottom: 16px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.review-bg-color-box {
  margin-bottom: 16px;
  padding: 47px 73px 32px;
  background-color: #fafafa;
}

.review-bg-image-box {
  padding: 0 36px;
  background: linear-gradient(
    to bottom,

    transparent calc(1.88em - 1px),
    #e1e1e1 calc(1.88em - 1px),
    #e1e1e1 1.88em
  );
  background-size: 100% 1.88em;
}

.review-text {
  position: relative;
  text-align: center;
  line-height: 1.88;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.review-icon-quotes {
  position: absolute;
  top: -15px;
  left: -37px;
  /* transform: translate(-100%, -50%); */
}

.review-icon-dots {
  display: block;
  margin-inline: auto;
  margin-bottom: 16px;
}

.review-author {
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.86;
  font-size: 20px;
  font-weight: 500;
}

.reviews-controls {
  display: flex;
  gap: 18px;
  justify-content: center;
}

/* end of Reviews section */
/* #endregion */


/* #region FOOTER */
/* start section FOOTER */
footer {
  background: linear-gradient(to bottom, #ffffff 30%, #fff5f6 100%);
}

.locations {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}

.location-card {
  padding: 20px;
  width: 30%;
  text-align: left;
  box-shadow: 0 8px 30px 0 rgba(212, 20, 67, 0.1);
  background: #fff;

  border-radius: 24px;
}

.location-type {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 0.9em;
  margin-bottom: 10px;
  display: inline-block;
}

.time {
  color: #ffa5ba;
}

.ttime {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: row;
  justify-content: space-between;
  gap: 12px;
}

.hours::before,
.hours::after {
  width: 100%;
  height: 2px;
  stroke-width: 1px;
  background-color: #e1e1e1;
  content: "";
  margin-top: 32px;
  margin-bottom: 32px;
}

.discription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: #907e82;
}

.card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.04em;
  color: #000;
}

.cafe {
  background-color: #f0d1a5;
}

.food-truck {
  background-color: #c2e297;
}

.cta-buttons {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.connection {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  color: #907e82;
  cursor: pointer;
}

.connection:hover {
  color: #d41443;
  cursor: pointer;
}

.cta-button {
  background-color: #d41443;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
}

.cta-button-right {
  background-color: #ffffff;
  color: #d41443;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
}

.cta-button:hover {
  background-color: #d41342;
}

footer strong {
  font-size: 1.5em;
}

.containerf {
  display: flex;
  align-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.box_footer {
  margin-right: 30%;
  padding-bottom: 60px;
}

.ice-cream-made {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffa5ba;
}

.witch-passion {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #d41443;
}

.social-networks {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #d41443;
  display: block;
  justify-self: flex-end;
  flex-direction: column;
}

.contactf {
  color: #000;
}

.box-contactf {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin-top: 40px;
}

.icon-first {
  width: 34px;
  height: 34px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon_listf {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  margin-bottom: 40p;
}

.iconf_link {
  background-color: #fea5bb;
  border-radius: 100%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.iconf {
  fill: #f4f4fd;
  display: flex;
  gap: 30px;
  border-radius: 50%;
}

.iconf:hover {
  background-color: #d41443;
}

.iconf_link:hover,
.iconf_link:focus {
  background-color: #d41443;
}
/* end section FOOTER */
/* #endregion */