/* Your styles here */

/* Reviews section */

.reviews {
  margin-top: -88px;
}

.reviews-showcase {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 8px;
  margin-bottom: 120px;
  margin-inline: auto;
  width: 1013px;
  height: 430px;
}

.reviews-showcase-item {
  margin-top: 8px;
  width: 138px;
  overflow: hidden;
  border-radius: 20px;
}

.reviews-showcase-item:nth-child(1) {
  margin-top: 142.67px;
}

.reviews-showcase-item:nth-child(2) {
  margin-top: 88.79px;
}

.reviews-showcase-item:nth-child(4) {
  margin-top: 0;
  width: 283px;
}

.reviews-showcase-item:nth-child(6) {
  margin-top: 98.77px;
}

.reviews-showcase-item:nth-child(8) {
  margin-top: 65.85px;
}

.reviews-showcase-item:nth-child(10) {
  margin-top: 154.64px;
}

.reviews-list {
  padding-inline: 116px;
}

.review-ava {
  margin-inline: auto;
  margin-bottom: 16px;
  border-radius: 50%;
  width: 85px;
  height: 85px;
}

.review-bg-color-box {
  margin-bottom: 16px;
  padding: 47px 73px 32px;
  background-color: #fafafa;
}

.review-bg-image-box {
  padding: 0 36px;
  background: linear-gradient(
    to bottom,

    transparent calc(1.88em - 1px),
    #e1e1e1 calc(1.88em - 1px),
    #e1e1e1 1.88em
  );
  background-size: 100% 1.88em;
}

.review-text {
  position: relative;
  text-align: center;
  line-height: 1.88;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.review-icon-quotes {
  position: absolute;
  top: -15px;
  left: -37px;
  /* transform: translate(-100%, -50%); */
}

.review-icon-dots {
  display: block;
  margin-inline: auto;
  margin-bottom: 16px;
}

.review-author {
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.86;
  font-size: 20px;
  font-weight: 500;
}

.reviews-controls {
  display: flex;
  gap: 18px;
  justify-content: center;
}

/* end of Reviews section */